<div class="container py-5">

  <h2 class="fw-bold text-center mb-4">Request a Booking</h2>

  <form
    #bookingForm="ngForm"
    (ngSubmit)="onSubmit(bookingForm)"
    class="card p-4 shadow-sm">

    <!-- Animal -->
     <div class="row mb-3">
    <div class="col-md-6">
      <label class="form-label fw-bold">Pet Name</label>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Fox, Bobby..."
        name="petName"
        ngModel
        required>
    </div>

    <div class="col-md-6">
      <label class="form-label fw-bold">Animal Type</label>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Dog, Cat..."
        name="animalType"
        ngModel
        required>
    </div>
    </div>

    <!-- Dates -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label fw-bold">Start Date</label>
        <input
          type="date"
          class="form-control form-control-lg"
          name="startDate"
          ngModel
          required>
      </div>

      <div class="col-md-6">
        <label class="form-label fw-bold">End Date</label>
        <input
          type="date"
          class="form-control form-control-lg"
          name="endDate"
          ngModel
          required>
      </div>
    </div>

    <!-- Description -->
    <div class="mb-4">
      <label class="form-label fw-bold">Description</label>
      <textarea
        class="form-control form-control-lg"
        rows="4"
        placeholder="Tell the sitter about your pet"
        name="description"
        ngModel
        required>
      </textarea>
    </div>

    <div class="mb-3 text-danger"
     [hidden]="!bookingForm.value.startDate || !bookingForm.value.endDate || bookingForm.value.startDate < bookingForm.value.endDate">
      End date must be after start date
    </div>


    <button
      type="submit"
      class="btn btn-secondary btn-lg w-100"
      [disabled]="bookingForm.invalid || bookingForm.value.startDate >= bookingForm.value.endDate">
      Send Booking Request
    </button>


  </form>

</div>
